<div class="container">
    <form id="login-form" method="post" class="form-signin">
        <h2 class="form-signin-heading">Iniciar Sesión</h2>
        <div class="form-group">
            <input type="text" [(ngModel)]="email" name="username" id="username" tabindex="1" class="form-control" placeholder="Email" value="">
        </div>
        <div class="form-group">
            <input type="password" [(ngModel)]="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <input (click)="login()" type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                </div>
            </div>
        </div>
    </form>
</div>